:root {
    --primary-color: #205c1c;
    --secondary-color: #ccc;
    --light-gray: #eee;
    --border-color: #ddd;
    --hover-bg-color: #e6f7e6;
    --table-row-even: #f9f9f9;
    --cancel-gray: #8e8e8e;
    --finish-bg: #f0f2f5;

    --font-size-base: 14px;
    --font-size-small: 10px;

    --border-radius-small: 8px;
    --border-radius-large: 18px;

    --transition-speed: 0.3s;
    --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
    --box-shadow-table: 0 4px 20px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: system-ui, sans-serif;
}

dialog {
    padding: 25px;
    border-radius: var(--border-radius-large);
    border-width: 1px;
    border-color: var(--primary-color);
}
dialog * {
    margin-top: 10px;
}

select#language {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #205c1c;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none; /* remove default browser arrow */
    outline: none;
    position: absolute;
    left: 20px;
    top: 10px;
}

/* Style the dropdown options */
select#language option {
    border: 1px solid #205c1c; /* same as select border */
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #205c1c;
}

#checkInForm,
#checkInList {
    padding: 5px 10px;
    position: relative;
    margin-top: 10px;
}

#checkInList {
    padding: 10px 20px;
}

.checkInListMenu {
    padding-bottom: 15px;
    display: flex;
}
.checkInListMenu > button {
    width: auto;
    margin-right: 10px;
}
#checkInListBack {
    margin-left: auto;
}
.inactiveBtn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: white;
}

#checkInListBtn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 12px;
    transition: transform 1s ease-in-out;
    box-shadow: var(--box-shadow-light);
    padding: 10px;
    cursor: pointer;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
}

fieldset {
    border: none;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 3fr 1fr;
    border-top: 2px solid var(--light-gray);
    border-bottom: 2px solid var(--light-gray);
    padding: 10px 10px;
}

label {
    font-size: var(--font-size-base);
}

fieldset label,
fieldset button,
fieldset input {
    flex: 1 1 400px;
    width: 80%;
    display: block;
}

#personForm {
    padding: 0px 15px;
    margin-top: 20px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
}
.tabs label {
    font-size: 14px;
}

input[type="radio"] {
    display: none;
}

/* 2. Style the labels to look like buttons */
.radio-label {
    padding: 8px 16px;
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius-large);
    cursor: pointer;
    transition: all var(--transition-speed) ease;
    margin-right: 10px;
}

/* 3. Style the label when its radio button is checked */
.active-tab {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.inputfield {
    margin-bottom: 10px;
}

.inputfield label {
    display: block;
    font-weight: 600;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-base);
}

.copyAddressDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

label[for="copyAddress"] {
    padding-top: 10px;
    font-weight: 600;
    color: #333;
}

#copyAddress {
    width: 22px;
    height: 22px;
    margin-top: 12px;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: var(--border-radius-small);
    color: white;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

#cancelCheckInBtn,
#cancelSecretBtn {
    width: 100%;
    background-color: var(--cancel-gray);
}
#startCheckInBtn {
    width: 100%;
}

.person {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 15px;
    padding-top: 10px;
    align-items: last baseline;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: var(--box-shadow-table);
    border-radius: var(--border-radius-small);
    overflow: hidden; /* Ensures rounded corners on children */
    font-size: var(--font-size-small);
}

th,
td {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 1px solid var(--border-color);
}

th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: var(--table-row-even);
}

tr:hover {
    background-color: var(--hover-bg-color);
}

#finishBtn {
    width: auto;
    background-color: var(--finish-bg);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.hidden {
    display: none;
}

.thanks {
    color: var(--primary-color);
    font-size: var(--font-size-base);
    font-weight: 600;
}

#returnTablet {
    font-size: 16px;
    font-weight: 700;
}

.importCheckInUndoBtn {
    background-color: red;
}
